.text {
	max-width: 200px;

	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.titleSkeleton {
	margin-bottom: 0.2em;
}

@media (max-width: 560px) {
	.text {
		max-width: 120px;
	}
}
