.form {
	display: grid;

	grid-template-columns: max-content 1fr;
	gap: 20px;
}

.picture {
	width: 250px;
	height: 250px;

	grid-row: span 3;

	border-radius: 8px;
}

.input {
	width: 300px;
}

.button {
	height: max-content;
}
