.button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: var(--size);
	height: var(--size);

	padding: calc(var(--size) / 6);

	background-color: transparent;

	font-size: var(--size);
	color: inherit;

	border-radius: 50%;
}

.button:focus-visible {
	box-shadow: var(--grey-darker) 0 0 8px;
}

.small {
	--size: 24px;
}

.medium {
	--size: 32px;
}

.large {
	--size: 40px;
}
