.container {
	display: flex;
	align-items: center;
	justify-content: center;

  width: max-content;
}

.label {
	position: relative;

	display: inline-block;

	height: min-content;

	padding-left: calc(var(--size) * 1.25);

	font-size: 14px;
	line-height: 1.5em;
}

.label::before {
	content: "";

	display: inline-block;

	position: absolute;
	top: 50%;
	left: 0;

	width: var(--size);
	height: var(--size);

	border-radius: 4px;
	border: 1px solid var(--color);

	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;

	transform: translateY(-50%);
}

.input:checked + .label::before {
	background-image: url("./check.svg");
	background-color: var(--color);
}

.input:disabled + .label::before {
	border-color: var(--grey);
}

.input:checked:disabled + .label::before {
	background-color: var(--grey);
}

.input:focus-visible + .label::before {
	outline: 1px solid var(--color-darker);
	outline-offset: 1px;
}

/* COLOR */
.primary {
	--color: var(--primary);
	--color-darker: var(--primary-darker);
}

.secondary {
	--color: var(--secondary);
	--color-darker: var(--secondary-darker);
}

.success {
	--color: var(--success);
	--color-darker: var(--success-darker);
}

.warning {
	--color: var(--warning);
	--color-darker: var(--warning-darker);
}

.error {
	--color: var(--error);
	--color-darker: var(--error-darker);
}

/* SIZE */
.small {
	--size: 12px;
}

.medium {
	--size: 16px;
}

.large {
	--size: 20px;
}
