.button {
	display: flex;
	align-items: center;

	width: 100%;

	background-color: transparent;

	text-align: left;

	color: inherit;
}

.button:focus-visible {
	background-color: var(--grey-lighter);
}
