{
	"presets": [
		"@babel/env",
		"@babel/typescript",
		"@babel/react",
		"atomic-router/babel-preset"
	],
	"plugins": [
		[
			"effector/babel-plugin",
			{ "reactSsr": false, "factories": ["@farfetched/core", "atomic-router"] }
		]
	]
}
