.textarea {
	padding: 1rem;

	font-size: var(--textarea-font-size);

	border-radius: 8px;
	border-color: rgba(162, 179, 207, 0.2);

	resize: none;
}

.textarea::placeholder {
	font-size: var(--textarea-font-size);
	color: rgba(0, 0, 0, 0.5);
}

.textarea:hover {
	outline: 2px solid var(--shadow);
}

.textarea:focus-visible {
	outline: 2px solid var(--primary);
}

@media (min-width: 600px) {
	.textarea {
		--textarea-font-size: 14px;
	}
}

@media (max-width: 600px) {
	.textarea {
		--textarea-font-size: 11px;
	}
}
