.input {
	width: 100%;
	height: 100%;

	padding: 12px;

	font-size: var(--input-font-size);
	font-family: inherit;

	border-radius: 8px;
	border-color: var(--border, rgba(99, 99, 99, 0.2));

	background-color: white;
}

.input:hover {
	outline: 2px solid var(--border, var(--shadow));
}

.input:focus-visible {
	outline: 2px solid var(--outline, var(--primary));
}

@media (min-width: 600px) {
	.input {
		--input-font-size: 14px;
	}
}

@media (max-width: 600px) {
	.input {
		--input-font-size: 11px;
	}
}
