.label {
	display: grid;

	height: min-content;

	row-gap: 0.25rem;

	font-size: var(--font-size);
}

.input {
	padding: 1rem;

	font-size: var(--input-font-size);

	border-radius: 8px;
	border-color: rgba(162, 179, 207, 0.2);
}

.input:hover {
	box-shadow: var(--shadow) 0px 2px 8px 0px;
}

.input:focus-visible {
  outline: none;
  box-shadow: var(--primary) 0 2px 8px;
}

@media (min-width: 600px) {
  .label {
    --font-size: 16px;
  }
  .input {
    --input-font-size: 14px;
  }
}

@media (max-width: 600px) {
	.label {
		--font-size: 12px;
	}
	.input {
		--input-font-size: 11px;
	}
}
