.layout {
	display: grid;
	gap: 1em;
}

@media (min-width: 1300px) {
	.layout {
		--room-page-template-columns: 4fr 1fr;
	}
}

@media (max-width: 1300px) {
	.layout {
		--room-page-template-columns: 1fr;
	}
}
