.header {
	display: flex;
  padding: 10px;
}

.text {
	flex-basis: 100%;

	text-align: center;
}

.icon {
	color: var(--grey-darker);

	transition: color 195ms ease-in;
}

.icon:hover {
	color: black;
}
