.card {
	display: grid;
	grid-template-rows: max-content max-content 1fr max-content;

	min-width: 200px;
	height: 300px;

	transition: box-shadow 250ms ease-in-out;
}

.card:hover,
.card:focus-within {
	box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
}

.header {
	font-weight: 700;
}

.content {
	padding: 1em;

	height: 100%;
}

.actions {
	display: flex;
	justify-content: flex-end;

	padding: 1em;
}
