.form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;

	padding: 0.5em;
}

.field {
	grid-column: span 2;
}

.button {
	grid-column: 2;
	justify-self: end;
}


@media (max-width: 500px) {
  .form {
    grid-template-columns: 1fr;
  }

  .field {
    grid-column: 1;
  }

  .button {
    grid-column: 1;
  }
}
