.button {
	display: inline-block;

	font-size: var(--font-size);
	text-transform: capitalize;
	text-decoration: none;

	transition-property: background-color;
	transition-duration: 0.25s;

  cursor: pointer;
}

.button--common {
	padding: 1rem;
	border-radius: 16px;
}

.button--listed {
	padding: 0.5rem 1rem;

	border-radius: 0;
	border: 0;
}

.button--primary {
	color: white;

	border: rgba(99, 99, 99, 0.3);
	background-color: var(--violet);
}

.button--primary:disabled {
	background-color: var(--grey-violet);
}

.button--primary:not(:disabled):hover {
	background-color: var(--blacker-violet);

	box-shadow: var(--black-violet) 0 2px 8px 0;
}

.button--primary:focus-visible {
	outline: var(--black-violet) solid 2px;
}

.button--monotype {
	color: black;
	background-color: white;

	border: 0;
}

.button--monotype:disabled {
	background-color: whitesmoke;
}

.button--monotype:not(:disabled):hover {
	text-decoration: underline;
}

@media (min-width: 600px) {
	.button {
		--font-size: 14px;
	}
}

@media (max-width: 600px) {
	.button {
		--font-size: 12px;
	}
}
