.button {
	display: inline-block;

	font-size: var(--font-size);
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 500;

	border-radius: 0;
	border: none;

	cursor: pointer;
}

.button:hover {
	background-color: transparent;
}

.button:focus-visible {
	outline: none;
}
