.form {
	display: grid;
	gap: 1em;

	padding: 0.5em;
}

.button {
	justify-self: end;
}

@media (max-width: 500px) {
	.form {
		grid-template-columns: 1fr;
	}

	.field {
		grid-column: 1;
	}

	.button {
		grid-column: 1;
	}
}
