.button {
	width: 50px;
	height: min-content;
}

.list {
	display: grid;

	row-gap: 5px;

	background-color: white;
}

.item {
	font-size: 0.85em;
}

.svg {
	display: block;

	width: 20px;
	max-height: 6px;
}
