.stack {
	display: flex;
}

.row {
	flex-direction: row;
	column-gap: var(--gap);
}
.column {
	flex-direction: column;
	row-gap: var(--gap);
}
.none {
	--gap: 0;
}
.xs {
	--gap: 6px;
}
.s {
	--gap: 10px;
}
.m {
	--gap: 16px;
}
.l {
	--gap: 24px;
}
.xl {
	--gap: 32px;
}
