.card {
	overflow: unset;
}

.cardContent {
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-template-rows: max-content 1fr;
	column-gap: 1.25em;
}

.block {
	grid-row: span 2;

	width: 100%;
}
