.dialog {
	position: fixed;
	inset: 0;

	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	height: 100%;
	width: 100%;
}

.button {
	position: absolute;
	inset: 0;

	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;

	cursor: pointer;
}
