.link {
	display: inline-block;

	font-size: 15px;
	color: var(--primary);
	text-decoration: none;
}

.link:hover,
.link:focus-visible {
	text-decoration: underline;
}

.link:focus-visible {
	outline: 0;
}
