.wrapper {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-areas: 'aside .' 'aside tasks' 'aside .';
	gap: 1em;

	height: 100%;
	width: 100%;
}

.tasks {
	grid-area: tasks;
}

.aside {
	grid-area: aside;

	display: grid;
	gap: 1.5em;
	grid-template-rows: max-content 1fr;
}

@media (max-width: 1300px) {
	.wrapper {
		grid-template-columns: 1fr;
		grid-template-areas: '.' 'tasks' 'aside';
	}
}
