.card {
	overflow: unset;
}

.avatar {
	background-color: var(--activity-card-avatar-color);
}

.cardContent {
	display: flex;
	column-gap: 1.25em;
}

.error {
	--activity-card-avatar-color: var(--mui-palette-error-light);
}

.warning {
	--activity-card-avatar-color: var(--mui-palette-warning-light);
}

.success {
	--activity-card-avatar-color: var(--mui-palette-success-light);
}
