.wrapper {
	display: grid;
	gap: 1.5em;
}

.title {
	font-weight: 700;
	padding: 0 1em;
}

.list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;

	overflow-y: scroll;

	padding: 1em;
}

.pagination {
	justify-self: center;
}

@media (max-width: 1200px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 724px) {
  .list {
    grid-template-columns: 1fr;
  }
}
