{
	"presets": [
		"@babel/env",
		"@babel/typescript",
		"@babel/react",
		"atomic-router/babel-preset"
	],
	"plugins": [
		[
			"effector-logger/babel-plugin",
			{
				"inspector": true,
				"effector": { "factories": ["@farfetched/core", "atomic-router"] }
			}
		]
	]
}
