{
	"presets": ["@babel/env", "@babel/typescript", "@babel/react"],
	"plugins": [
		[
			"effector-logger/babel-plugin",
			{ "inspector": true, "effector": { "factories": ["@farfetched/core"] } }
		]
	]
}
