.header {
	display: flex;

	align-items: center;
	column-gap: 10px;

	height: max-content;
}

.head {
	display: grid;
	align-items: center;
	width: 100%;
}

.secondaryAction {
	margin-left: auto;
	min-width: 0px;
	max-width: 64px;
}
