.card {
	max-width: 560px;

}

.content {
	display: flex;
  align-items: center;
	gap: 1em;
}

.text {
	max-width: 250px;

	text-align: center;
}

.actions {
	display: flex;
	justify-content: space-between;
}
