.header {
	display: grid;
	grid-template-columns: 1fr max-content;
	column-gap: 1em;
	align-items: center;

	padding: 2rem 0;
}

.description {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
