.container {
	position: fixed;
	z-index: var(--mui-zIndex-snackbar);

	width: max-content;
	height: 'auto';
	max-height: '100%';
	width: 'auto';
}

.horizontal__left {
	left: 1em;
}

.horizontal__center {
	left: 50%;

	transform: translateX(-50%);
}

.horizontal__right {
	right: 1em;
}

.vertical__top {
	top: 1em;
}

.vertical__bottom {
	bottom: 1em;
}

.item {
	width: 100%;
}

@media (max-width: 500px) {
	.container {
		width: unset;
	}

	.horizontal__center {
		transform: none;
	}

	.horizontal__right,
	.horizontal__center,
	.horizontal__left {
		right: 1em;
		left: 1em;
	}
}
