*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--background: #ebf0f7;
}

body {
	margin: 0;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	color: #2e2e2e;
}
