*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--background: #ebf0f7;

	--shadow: rgba(99, 99, 99, 0.5);

	--grey-lighter: rgb(240, 240, 240);
	--grey: rgb(158, 154, 154);
	--grey-darker: rgb(99 99 99);

	--warning-lighter: #f7bd77;
	--warning: #fba63c;
	--warning-darker: #f38d11;

	--error-lighter: #ff836d;
	--error: #f86a51;
	--error-darker: #fa4c2d;

	--success-lighter: #88e0a7;
	--success: #5dc983;
	--success-darker: #13854e;

	--primary-lighter: #529cc7;
	--primary: #2e87ba;
	--primary-darker: #006ead;

	--secondary-lighter: #ab5db9;
	--secondary: #a734ba;
	--secondary-darker: #9900b4;
}

body {
	margin: 0;

	background-color: var(--background);

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	color: #2e2e2e;
}

.visibility-hidden {
	display: inline-block;

	position: absolute;
	top: -99999px;
	left: -9999px;

	width: 1px;
	height: 1px;

	clip: rect(0, 0, 0, 0);

	font-size: 1px;
}
