.layout {
	display: grid;

	min-height: 100%;

	grid-template-columns: var(--template-columns);
	grid-template-rows: min-content 1fr;
	column-gap: 1em;
	row-gap: 1em;
}

.tasks {
	grid-row: 2;

	height: 100%;
}

@media (min-width: 1300px) {
	.layout {
		--template-columns: 4fr 1fr;
	}

	.tasks {
		grid-row: 2;
	}

	.aside {
		grid-row: 1 / -1;

		padding: 0 1em;

		border-left: 1px solid #d9e0e9;
	}
}

@media (max-width: 1300px) {
	.tasks {
		grid-column: span 2;
	}

	.layout {
		--template-columns: 1fr;
	}

	.aside {
		display: grid;

		grid-template-columns: repeat(2, 1fr);
    grid-row: 3;

		gap: 10px;
	}
}

@media (max-width: 600px) {
	.aside {
		grid-template-columns: 1fr;
	}
}
