.layout {
	display: grid;

	min-height: 100%;

	grid-template-columns: var(--template-columns);
	grid-template-rows: min-content 1fr;
	column-gap: 1em;
  row-gap: 1em;
}

@media (min-width: 1300px) {
	.layout {
		--template-columns: 4fr 1fr;
	}

	.aside {
		padding: 0 1em;

		border-left: 1px solid #d9e0e9;
	}
}

@media (max-width: 1300px) {
	.layout {
		--template-columns: 1fr;
	}
}
