.layout {
	display: grid;

	grid-template-columns: var(--template-columns);
	grid-template-areas: var(--template-areas);
	grid-template-rows: min-content 1fr;
}

.header {
	grid-area: header;

	padding: 2rem 0;
}

.tasks {
	grid-area: tasks;
}

.aside {
	grid-area: aside;

	border-left: 1px solid #d9e0e9;
}

@media (min-width: 1300px) {
	.layout {
		--template-columns: 4fr 1fr;
		--template-areas: "header aside" "tasks aside";
	}
}

@media (max-width: 1300px) {
	.layout {
		--template-areas: "header header" "tasks tasks" "aside aside";
	}
}
