.tasks {
	position: relative;
	display: grid;

	grid-template-rows: min-content 1fr;

	row-gap: 1.5rem;
}

.list {
	display: grid;

	row-gap: 1.5rem;
}

.header {
	position: sticky;
	top: 0;
}

.dropZone {
	height: 100%;
}
